/* Ogólny styl dla ciała strony */
*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

/* Nagłówek */
header {
  background-color: #282c34;
  color: #61dafb;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Kontener główny */
.main-content {
  padding: 2rem;
}

/* Stylizacja siatki kafelków samochodów */
.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Kafelek samochodu */
.car-tile {
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none; /* Zapobiega podkreśleniu tekstu w przypadku linków */
}

/* Kafelek samochodu jako link */
.car-tile a {
  display: block;
  color: inherit; /* Przeciwdziała zmianie koloru tekstu przez link */
  text-decoration: none; /* Usuwa podkreślenie linku */
  height: 100%;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.car-tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.car-tile:hover a {
  text-decoration: none; /* Zapobiega podkreśleniu tekstu podczas hover */
}

/* Stylizacja obrazka samochodu */
.car-tile img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
}

/* Tytuł i opis samochodu */
.car-tile h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}

.car-tile p {
  color: #555;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

/* Responsywność */
@media (max-width: 600px) {
  .car-tile img {
    height: 120px;
  }
  
  .car-tile h2 {
    font-size: 1.2rem;
  }
}

header img {
  max-width: 50%;
  height: auto;
}

.admin-panel {
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-panel h1 {
  font-size: 2rem;
  color: #004d40;
}

.admin-panel button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #004d40;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-panel button:hover {
  background-color: #00332b;
}

.admin-panel ul {
  list-style: none;
  padding: 0;
}

.admin-panel li {
  padding: 0.5rem 0;
}